body{
	margin:8;
	padding: 0;
}

h1{	
  font-size: 1.2em;
  font-family: Century Gothic, sans-serif;
  background-color:black;
  font-style: bold;
}

h2{ 
  font-size: 0.2em;
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-style: bold;
}

h3{
  font-size: 0.8em;
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

h4{
  color: black;
  font-size: 2.2em;
  font-family: Century Gothic, sans-serif;
  font-style: bold;
  background-color: lightgrey;
}


p{
	font-size: 0.85em;
	text-align: left;
}


.header {
  padding: 5px;
  width: 101%;
  background-color: #ffffff;
  opacity: .9;
  position: absolute;
  top:0px;
  left:0px;
}

.footer {
  padding: 5px;
  width: 101%;
  background-color: #ffffff;
  opacity: .9;
  position: absolute;
  bottom:0px;
  left:0px;
}

.rightModal {
  margin-right: 20px;
    margin-top: 80px;
}

.bottomModal {
    margin-top: 450px;
}

.modalMargin {
  font-family: 'Eveleth';
  margin-top: 10px;
}


