body{
	margin:8;
	padding: 0;
}

h1{	
  font-size: 1.2em;
  text-align: center;
  font-family: Courier, sans-serif;
}

h2{ 
  font-size: 1.0em;
  text-align: center;
  font-family: Courier, sans-serif;
  font-style: bold;
}

h3{
  font-size: 0.8em;
  text-align: center;
  font-family: Courier, sans-serif;
}

p{
	font-size: 0.85em;
	text-align: left;
}

/* Create a position for the map on the page */
#map {
	position: absolute;
	top: 40;
	bottom: 20;
	width: 100%;
}

/* Set rules for how the map overlays (info box and legend) will be displayed on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Courier, sans-serif;
  overflow: auto;
  border-radius: 1px;
}


#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 340px;
  margin-bottom: 40px;
  width: 200px;
}

.legend-key {
  display: inline-block;
  border-radius: 100%;  /* adds a border radius, a value of 100% changes a box to a circle */
  width: 10px;
  height: 10px;
  margin-right: 5px;
}


/* Modals */
#screen {
	display: none;
	width: 200vw;
	height: 200vh;
	position: absolute;
	background-color: grey;
	opacity: 0.6;
	z-index: 1;
}

.modal {
	display: none;
    width: 1000px;
    height: 650px;
    position: absolute;
    margin: 0 auto;
    margin-top: 150px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    padding: 30px;
    font-family: Courier;
}

.modal .close-button {
	color: #ccc;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	line-height: 30px;
	font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal .close-button:hover { 
	color: #bbb;
}



/* Pop-ups */

.mapboxgl-popup-tip {
	border-top-color: lightgrey !important;  /* the triangular shape at the bottom of the popup (tooltip) is formed by a thick border, where only the top border has a color, and the left, right, and bottom borders are transparent. Read more at https://css-tricks.com/snippets/css/css-triangle/ */
}

.mapboxgl-popup-content { 
	background-color: white;
    border: 1px grey;
    box-shadow: 3px 3px 8px lightgrey;    
    font-family: Courier;
    font-size: larger;
    color: black;
}

.mapboxgl-popup-close-button {
    font-size: 30px;
    color: #ccc;
}

/* About this Map Button */
.button-default {
    position: absolute;
    margin: 10px;
    background: darkgrey;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: larger;
    font-family: Courier;
    cursor: pointer;    
}

.button-default:hover {
    background: pink;
}

.button-default:active {
    background: lightgrey;
}